@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Platypi:ital,wght@0,300..800;1,300..800&family=Shadows+Into+Light+Two&family=Teko:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.8)),
        url('../../imgs/bg2.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Mulish', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 200px;
}

.loading {
    width: 100px;
    height: 100px;
    background: linear-gradient(
        165deg,
        orangered,
        beige);
    border-radius: 15px;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: rotateX(0deg) rotateY(180deg);
    }
    100% {
        transform: rotateX(180deg) rotateY(180deg);
    }
}

.return {
    position: absolute;
    top: 50px;
    left: 50px;
}

.return a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 5px 10px;
    font-size: 20px;
}
