<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Modal</title>
</head>
<body>
    <button class="open">Discover More</button>
    <section class="modal-container">
        <div class="modal">
            <h1>McLaren</h1>
            <p>McLaren is a renowned Formula 1 team, founded in 1966, based in the UK. Known for 8 Constructors’ titles, 183 wins, and icons like Senna and Hamilton.</p>
            <button class="modal-btn">Close</button>
        </div>
    </section>
    <div class="return">
        <a href="../components.html">Return</a>
    </div>
    <script src="script.js"></script>
</body>
</html>